<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="false">
    <test name="Test">
        <classes>
            <class name="io.github.astrapi69.layout.DrawMessageTest"/>
            <class name="io.github.astrapi69.swing.panel.keypad.KeyPadPanelTest"/>
            <class name="io.github.astrapi69.swing.panel.login.LoginPanelTest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
